# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
backend/data/*.db

# streamlit
.streamlit/

# OS/editor
.DS_Store
.vscode/
.idea/
A Prototype of an AI-Based English Vocabulary Learning Assistant for Young Learners.docx
